* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    max-height: 360px;
    margin: 4rem auto;
    display: flex;
}

.big_img {
    width: 85%;
    position: relative;
}

.thumbnails {
    width: 15%;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.3s;
}

.big_img>img, .thumbnails>img {
    width: 100%;
    object-fit: cover;
}

.big_img>img {
    aspect-ratio: 21/9;
    max-height: 100%;
}

.thumbnails>img {
    height: calc(100% / 5);
}

.photo_text {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    max-width: 90%;
    text-align: end;
    color: white;
    filter: drop-shadow(2px 4px 6px black);
}



.navigator {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1rem;
    width: 100%;
}

.up_slider, .down_slider {
    background-color: #ccccccd1;
    border-radius: 50%;
    border: 1px solid #484848;;
    cursor: pointer;
}

.up_slider {
    padding: 2px 5px;
}

.down_slider {
    padding: 3px 5px;
}

.active_img {
    transform: scale(1.08);
    border: 2px solid goldenrod;
    border-radius: 2px;
}
