* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    max-height: 360px;
    margin: 4rem auto;
    display: flex;
}

.big_img {
    width: 85%;
    position: relative;
}

.thumbnails {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.big_img>img, .thumbnails>img {
    width: 100%;
    object-fit: cover;
}

.big_img>img {
    aspect-ratio: 21/9;
    max-height: 100%;
}

.thumbnails>img {
    height: calc(100% / 5);
}

.photo_text {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    max-width: 90%;
    text-align: end;
    color: white;
}
